@{
    ViewBag.Title = "Citadel Library";
}

<div class="jumbotron">
    <h1>Citadel Library</h1>
    <p class="lead text-justify">
        The Citadel of Oldtown is the greatest center of learning in the world.The heart of the Citadel is the library, which contains tomes
        from all over the world on every subject imaginable, from the trivial to the essential to the restricted. Citadel Library harbors the largest
        library in the world, is located in Oldtown and it's where the maesters are trained.
    </p>
    <p><a  class="btn btn-primary btn-lg">Location: Oldtown, the Reach &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Founder</h2>
        <p class="text-justify">
            Urrigon's brother Peremore had an insatiable thirst for knowledge and therefore surrounded himself with scholars, healers, priests and 
            sorcerers. After Peremore died, King Urrigon granted a tract of land beside the Honeywine to "Peremore's pets" so they might establish and
            continue their quest for knowledge. Thus the Citadel was established and the Order of Maesters was born.
        </p>
        <p><a class="btn btn-default btn-primary">Urrigon Hightower &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Master of Coin</h2>
        <p class="text-justify">
            He belongs to one of the wealthiest and most powerful families and his philosophy regarding his reading hobby is as follows
            'I have a realistic grasp of my own strengths and weaknesses. My mind is my weapon. My brother has his sword, King Robert has his warhammer, 
            and I have my mind… and a mind needs books as a sword needs a whetstone, if it is to keep its edge.'.
        </p>
        <p><a class="btn btn-default btn-primary">Tyrion Lannister &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Librarian</h2>
        <p class="text-justify">A gentle young man, Samwell is fond of music and songs, and prefers books over weapons, and is afraid of blood and 
        violence.</p>
 
        <p><a class="btn btn-default btn-primary">Samwell Tarly &raquo;</a></p>
    </div>
</div>